<!--display header component  -->
<app-header [myDetails] ='myDetails'></app-header>

<!-- create tab group -->
<mat-tab-group mat-stretch-tabs  
               class="example-stretched-tabs mat-elevation-z4"
		[ngStyle]="{textAlign: 'center'}">

 <!-- tab1 -->
    <mat-tab>
      <ng-template mat-tab-label>
          Art on Exhibit&nbsp;
          <mat-icon color="accent">
            <span class="material-icons-two-tone">
              palette
              </span>
          </mat-icon>
      </ng-template>
    
      <app-exhibit [artDetails]="artDetails"></app-exhibit>
    </mat-tab>

  <!-- tab2 -->
    <mat-tab>
      <ng-template mat-tab-label>
          Art by Nation Only&nbsp;
          <mat-icon color="accent">
            <span class="material-icons-two-tone">
              festival
              </span>
          </mat-icon>
      </ng-template>
      
        <h3>Click to view a Nation's Art</h3>
        <app-nation-only [artDetails]="artDetails" [nationFeatured]="nationFeatured"></app-nation-only>         
    </mat-tab>

</mat-tab-group>

<!-- display footer component -->
<app-footer></app-footer>